/* setting up variables that will be used throught the CSS file */
:root {
  --padding-var: 10px;
  --margin-var: 10px;
  --colour-accent: #820700;
  --colour-hover: rgba(130, 7, 0, 50%);
  --colour-heading: rgba(215, 215, 215, 0.85);
  --colour-text: #ffffff;
  --border-radius-var: 50px;
  --form-border-radius-var: 20px;
  --footer-height: 20vh;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  --bs-nav-pills-link-active-bg: var(--colour-accent);
  border-bottom: 1px solid var(--colour-accent);
}
.nav-pills .nav-link {
  border: 1px solid transparent;
}
.nav-link {
  color: var(--colour-accent);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--colour-accent);
  border-bottom: 1px solid var(--colour-accent);
}
/*setting up the font family and size on global level */
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

/* setting up the style for all text links */
a {
  color: var(--colour-accent);
  font-size: 0.8em;
  text-decoration: none;
}

/* setting up the style for the top header container that house the image, name, and links to about me, portfolio, and contact */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colour-heading);
}

/* sets up the style for the header image */
.developer img {
  max-width: 100px;
  padding: var(--padding-var);
  border-radius: var(--border-radius-var);
}

/* sets up the style for the name */
.developer {
  padding: var(--padding-var);
  margin: var(--margin-var);
  font-size: 2.5em;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

/* sets up the style for the navigation element */
nav {
  padding: var(--padding-var);
  margin: var(--margin-var);
}

/* sets up the style for the container holding the list of links in the navibation element */
nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* sets up the style for the list items inside the unordered list container in the navigation element */
nav ul li {
  padding: var(--padding-var);
  text-align: center;
}
/* sets up the styling for the banner image and tag line */
.banner {
  position: relative;
  width: 100vw;
}
/* sets up the styling for the banner image */
.banner img {
  width: 100vw;
}
/* sets up the styling for the tag line */
.banner .label {
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  background-color: var(--colour-text);
  color: var(--colour-accent);
  padding: var(--padding-var);
  margin: var(--margin-var);
}
/* sets up the style for the paragraph element within the label within the banner image */
.banner .label p {
  font-size: 1.5em;
}
/* sets up the style for the main content of the webpage*/
article {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-var);
  margin: var(--margin-var);
}
/* sets up the style for the heading to the left side of the main content */
aside {
  min-width: 15vw;
  text-align: end;
  padding: var(--padding-var);
  margin: var(--margin-var);
  font-size: 1.5em;
  text-transform: capitalize;
}
/* sets up the style for the main content */
article .content {
  padding: var(--padding-var);
  margin: var(--margin-var);
  border-left: var(--colour-accent) solid 3px;
  border-right: var(--colour-accent) solid 3px;
  border-radius: var(--form-border-radius-var);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
/* sets up styling for the object justification */
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
/* sets up the style for the list of projects main content */
.work {
  margin: var(--margin-var);
  position: relative;
  width: 30%;
  border: var(--colour-accent) solid 2px;
}
/* sets up the style for the images within the work content */
.work img {
  width: 100%;
  vertical-align: middle;
}
/* sets up the style for the label that goes on top of each work image */
.work .label {
  background-color: var(--colour-accent);
  color: var(--colour-text);
  text-align: start;
  max-width: 20vw;
  position: absolute;
  bottom: 1em;
  padding: var(--padding-var);
  z-index: 10;
}
/* sets up the style for the paragraph text within the label on top of each work image */
.work .label p {
  font-size: 0.618em;
  padding-top: var(--padding-var);
}
/* sets up the style when a user hover over an active link in the work image section */
.work a:hover {
  background-color: var(--colour-hover);
  padding: 6.18px 10px 6.18px 10px;
  display: block;
  transition: all 0.5s ease 0s;
}
/* sets up the style for the first projects that appear in the list of projects in the main content */
.first {
  width: 100%;
}
/* sets up the style for the contact section of the page */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-var);
  padding: var(--padding-var);
}
/* sets up the style for the left section of the contact content */
.contact-left {
  min-width: 75%;
}
/* sets up the style for the right section of the contact content */
.contact-right {
  min-width: none;
}
/* sets up the style for the input fields of the form */
form input,
form textarea {
  padding: var(--padding-var);
  margin: var(--margin-var);
  border-radius: var(--form-border-radius-var);
  border: 2px solid var(--colour-heading);
  width: 100%;
}
/* sets up the style of the form inputs when no information is entered */
form input:placeholder-shown,
form textarea:placeholder-shown {
  border: 2px dashed var(--colour-heading);
}
/* sets up the style of the form button */
form .button {
  padding: var(--padding-var);
  margin: var(--margin-var);
  border-radius: var(--border-radius-var);
  border: 2px solid var(--colour-accent);
  background-color: var(--colour-accent);
  color: VAR(--colour-text);
}
/* sets up the style of the form button when the user hovers */
form .button:hover {
  border: 2px solid var(--colour-accent);
  color: var(--colour-accent);
  background-color: VAR(--colour-text);
}
/* sets up the style of the images for the social media  */
.social-links img {
  max-width: 100px;
  padding: var(--padding-var);
  margin: var(--margin-var);
}
body {
  position: relative;
  min-height: 100vh;
}
main {
  padding-bottom: 20vh;
}
/* sets up the style of the footer */
.footer {
  background-color: #58473f;
  padding: var(--padding-var);
  color: var(--colour-text);
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* sets up the style of the paragraph text within the footer */
.footer p {
  font-size: 0.5em;
}

.footer .nav-link {
  color: var(--colour-text);
}

.footer .nav-link:hover {
  border-bottom-color: var(--colour-text);
  border-radius: 0.375em;
}
/* TABLET styling */
@media screen and (max-width: 992px) {
  /* updates the banner label styling */
  .banner .label {
    bottom: 5vh;
    right: 5vh;
  }
  /* updates the paragraph element within the label within the banner section */
  .banner .label p {
    font-size: 1em;
  }
  /* updates the styling for the list of work */
  .work {
    width: 45%;
  }
  /* updates the styling for first item in the list of work */
  .first {
    width: 100%;
  }
  /* updates the styling for the label on top of the images of work */
  .work .label {
    max-width: 100vw;
  }
  /* updates the styling of the contact content section */
  .contact-left,
  .contact-right {
    min-width: 100%;
  }
  /* updates the styling of the social media links  */
  .social-links {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/* SMART PHONES */
@media screen and (max-width: 768px) {
  /* updates the styling of the top header container of the webpage */
  .header {
    justify-content: center;
  }
  /* updates the styling of the name within the header */
  .developer {
    flex-direction: column;
  }
  /* updates the styling of the image within the header */
  .developer img {
    max-width: 100vw;
  }
  /* updates the style of the unordered list in the navibation section */
  nav ul {
    flex-direction: column;
  }
  /* updates the style of the main articles  */
  article {
    flex-direction: column;
  }
  /* updates the style of the left hand section of each article */
  aside {
    width: 100vw;
    text-align: start;
  }
  /* updates the style of the content of each article */
  article .content {
    border-top: var(--colour-accent) solid 3px;
    border-bottom: var(--colour-accent) solid 3px;
    border-left: none;
    border-right: none;
  }
  /* updates the styling of the work image listing */
  .work {
    width: 100%;
  }
}
